.login-title{
    margin: 100px 0 50px 100px;
    font-size: 28px;
    font-weight: 900;
    color : #000;
}
.login-title span{
	padding-top : 3px;
	border-top : 5px solid #BDB19A;
}
.login-box{
    width: 400px;
    height:300px;
    margin: 0 auto;
}
input{
    border-style:none;
    border-bottom:solid 1px #cacaca;
    border-collapse:collapse;
}
input:focus {
    outline: none;
    padding-bottom : 5px;
	border-bottom : 2px solid #BDB19A;
    box-shadow: 0 1px 0 0 #563D39;
}
fieldset {
    border-style:none;
}
.searchidpw{
    text-decoration: none;
    color:#BDB19A;
}
.searchidpw:hover{
	border-style:none;
    color:#563D39;
}
.intputBtn{
	background-color: #BDB19A;
	color:#fff;
	margin-top: 15px;
}
input [type=submit] {
    width: 70px;
    height: 30px;
    background-color:#fff;
    color:#BDB19A;
    border: solid 1px #BDB19A;
}
input [type=submit]:hover{
    box-shadow: 1px 1px 1px #BDB19A;
}
.reg {
    font-size: 14px;
    width: 40px;
    float: left;
}