body{
    display: flex;
    flex-direction: column;
    min-height: 200vh;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.header-title{
    background-color: #fff;
}
.h-left{
    width: 20%;
    float: left;
    height: 90px;
}
.search-img {
    width: auto;
    height: auto;
    max-width: 30px;
    max-height: 50px;
}
.h-logo{
    width: 60%;
    text-align: center;
    background-color: #fff;
    float: left;
    height: 90px;
    border-bottom: 2px solid #BDB19A;
}
.h-right{
    width: 20%;
    float: left;
	height: 90px;
}
.h-right>a{
	text-decoration: none;
    color:#563D39;
}
.h-right>a:hover {
    text-decoration: none;
    color:#BDB19A;
}

.container{
    flex:1;
}
#footer{
    background-color: #563D39;
    height: 500px;
}

/*navi 진행중*/

.navi{
    position: relative;
}
.navi ul{
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    height: 50px;
    width: 900px;
}
.navi>ul{
    position: relative;
    background-color: #fff;
}
.navi ul>li{
    float: left;
    width: 150px;
    height: 50px;
}
.navi ul>li>a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;            
    text-decoration: none;
}
.navi>ul>li>a{
    color : #563D39;  
}
/* .navi>ul>li:hover>a{
    font-weight: 900;
    border-bottom: solid 2px #563D39;
} */
.sub>li>a{
    color:#A79078;
}
.navi ul>li>a:first-child:after{
    display:block;
    position: absolute;
    text-align: center;
    content: '';
    border-bottom: solid 2px #563D39;
    width: 150px;
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.navi ul>li>a:first-child:hover:after { 
    transform: scaleX(1); 
}
.navi>ul>li:hover>.sub{
    display: block;
}
.sub>li>a:hover{
    color:#563D39;
    font-weight: 900;
}
.sub{
    display: none;
    position: absolute;
    left:0;
    top:50px;
}

