body{
    display: flex;
    flex-direction: column;
    min-height: 200vh;
}

.header-title{
    background-color: #563D39;
}
.h-left{
    width: 20%;
    float: left;
    height: 90px;
}
.h-logo{
    width: 60%;
    text-align: center;
    background-color: #BDB19A;
    float: left;
    height: 90px;
}
.h-right{
    width: 20%;
    float: left;
	height: 90px;
}

.container{
    flex:1;
}
#footer{
    background-color: #563D39;
    height: 500px;
}