@font-face {
  font-family: "NotoSansKR";
  src: local("NotoSansKR"), url(/resources/font/NotoSansKR-Regular.otf);
}
@font-face {
  font-family: "d_i";
  src: url(/resources/font/DMSerifDisplay-Italic.ttf);
}
@font-face {
  font-family: "d_r";
  src: url(/resources/font/DMSerifDisplay-Regular.ttf);
}

body{
    display: flex;
    flex-direction: column;
    min-height: 200vh;
    font-family: "NotoSansKR";
  	color:black;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.header-title{
    background-color: #fff;
}
.h-left{
    width: 20%;
    float: left;
    height: 90px;
}
.search-img {
    width: auto;
    height: auto;
    max-width: 30px;
    max-height: 50px;
}
.h-logo{
    width: 60%;
    text-align: center;
    background-color: #fff;
    float: left;
    height: 90px;
}
.h-logo>a{
	text-decoration: none;
	font-family: d_r; 
    font-size:50px;
    color:#563D39;
}
.h-logo>a:hover{
	text-decoration: none;
	font-family: d_r; 
    font-size:50px;
    color:#563D39;
}
.h-right{
    width: 20%;
    float: left;
	height: 90px;
}
.h-right>a{
	text-decoration: none;
    color:#563D39;
}
.h-right>a:hover {
    text-decoration: none;
    color:#BDB19A;
}

.container{
    flex:1;
}
#footer{
    margin: auto;
    text-align: center;
    height: 500px;
    width: 100%;
}

.footer-menu{
    height: 100px;
    width: 100%;
    border-bottom: solid 1px #bababa;
}
.footer-menu>a {
    border:none;
    font-size: 28px;
    padding: 10px 40px 10px 40px;
    color:#563D39;

}

/*navi 진행중*/

.navi{
    position: relative;
    z-index: 2;
}
.navi ul{
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    height: 50px;
    width: 100%;
    font-weight: 500;
    color:rgba(86, 61, 57, 0.7);
    /*padding: 0 px 500px;*/
    
}
.navi>ul{
    position: relative;
    background-color: #fff;
    display:flex;
    justify-content:center;
}
.navi ul>li{
    width: 150px;
    height: 50px;
}
.navi ul>li>a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;            
    text-decoration: none;
}
.navi>ul>li>a{
    color : #563D39;  
}
/* .navi>ul>li:hover>a{
    font-weight: 900;
    border-bottom: solid 2px #563D39;
} */
.sub>li>a{
    color:rgba(255, 255, 255, 0.58);
}
.navi ul>li>a:first-child:after{
    display:block;
    position: absolute;
    text-align: center;
    content: '';
    border-bottom: solid 2px #563D39;
    width: 150px;
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}
.navi ul>li>a:first-child:hover:after { 
	font-weight: 900;
    transform: scaleX(1); 
}
.navi>ul>li:hover>.sub{
    display: block;

}
.sub>li>a:hover{
    color:#fff;
}
.sub{
	background-color: #563D39;
    display: none;
    position: absolute;
    left:0;
    top:50px;
}
.sub>li {
	float: left;
}
