body{
    display: flex;
    flex-direction: column;
    min-height: 200vh;
    position: relative; 
    z-index: 1;
}
/*스와이프*/
.showslide{
    position: relative;
    margin: 100px 50px 0px 50px;
    height: auto;
}
.swiper {
        width: 100%;
        height: auto;
      }
      .swiper-slide {
        display: block;
        width: 250px;
        height: 350px;
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
      .swiper-slide img {
        display: block;
        width: auto;
        height: 100%;
        object-fit: cover;
        position: relative;
        overflow: hidden;
      }
      .cover{
            position :absolute;
            margin: auto;
            width: auto;
            height: 100%;
            background-color: rgba(0,0,0,0.4);
            transition-duration: 0.5s;
            display: none;
        }
        .swiper-slide:hover>.cover{
        display: block;
        opacity: 1;
      }
      /*cover 안에있는 내용*/
      .cover-content{
            padding: 50px 10px;
            font-size: 14px;
            color:#fff;
        }
        .reserve-button{
            margin: auto;
            height: 40px;
            width: 90px;
            margin-top: 10px;
            font-weight: bold;
            color:#fff;
            background-color:rgba(167, 127, 120, 0.8);
        }
        .reserve-button:hover{
            margin: auto;
            height: 40px;
            width: 90px;
            margin-top: 10px;
            transform:  scale(1.1);
        }
      /*1번슬라이드*/
      .carousel-inner{
        width: 100%;
        height: 100%;
      }

      /*4번슬라이드*/
      .up-on-scroll {
        transition: all 0.7s;
}


    /*광고배너*/
    .banner{
    position: relative;
    top:100px;
    margin: 0 auto;
    width: auto;
    height: 200px;
}
    .banner img{
    height: 200px;
    width: auto;
    }
    .main-content{
        display: flex;
        padding-top: 100px;
        top:50px;
        width: 1170px;
        height: 500px;
        margin: 0 auto;
    }
    .m-menu img{
        width: auto;
        height: 100%;
        max-height:500px ;
    }
    .m-menu {
        flex: 1;
        float: left;
        height: 500px;
        border: 1px solid #000;
    }
    .m-sub {
        height: 50%;
        width: 100%;
    }




    /*slick*/
    .slider-for>div{
        width: 100%;
        height: 800px;
        margin: 0 auto;
    }
    .d1 {
        height: 615px;
        z-index: 1;
    }
    .d2 {
        display: flex;
        width: 700px;
        z-index: 3;
    }
    .sn{
        margin: 15px;
        height: 150px;
        width: 70px;
        overflow: hidden;
    }
    .sn img{
        height: 100%;
        width: auto;
        max-width: 250px;
    }
    .sf img{
        height: 800px;
        width: 100%;
        
    }
    .slick-dots{
        display: none;
    }
    .slick-arrow{
        opacity: 0;
    }
    .sliderbg{
        background-color: rgba(0,0,0,0.2);
        width: 100%;
        height: 185px;
        z-index: 2;
    }
    .sf :hover{
        display: block;

    }

    /*notice menu*/
    .m-notice{
        position: relative;
        top: 200px;
        width: 100%;
        height: 800px;
        padding: 60px 0px 60px 0px;
    }
    
    .lnc-box{
        font-size: 18px;
        margin: 10px;
        padding: 10px;
border: solid 1px #BDB19A;
display: inline-block; 
width: 200px; 
height: 270px;
overflow: hidden; 

    }
    .notice-menu > li {
        float: left;
        width: 50%;
        list-style: none;
    }
    .notice-menu{
        padding: 0px 60px 0px 200px;
    }
.ln-content > li {
    float:left;
}
.lnc-box >a{
    text-decoration: none;
    color:#000;
}
.tit-main .small:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 37px;
    height: 1px;
    background: #474747;
    content: '';
}
.tit-main .small {
    display: block;
    position: relative;
    padding-top: 10px;
    font-size: 13px;
    letter-spacing: 0;
}

.rpc-box{
    margin: 10px;
border: solid 1px #563D39;
display: inline-block; 
width: 200px; 
height: 270px;
overflow: hidden; 
}
.rpc-box img{
    width: 200px;
    height: 270px;
}
