
.main-title{
	width:1170px;
	border-bottom : 1px solid #d6d6d6;
}
.main-title>h1{
	font-weight : 900;
}
.container{
}
.container-left{
    text-align:center;
	width:1170px;
}
.container-left>div{
	width:calc(700px/12);
	height:50px;
    display:inline-block;
    text-align:center;
    line-height:50px;
    background-color:#A79078;
    font-size:18px;
    font-weight: bold;
    color: #fff;
    margin: 2.5px 0;
    border: 1px solid #563D39;
}
.container-left>div#emptyseat{
    background-color:#fff;
    font-weight: bold;
    color: #fff;
    border: 1px solid #fff;
}
.container-right{
	width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.container-right>h2{
	text-align:center;
}
.container-right h3{
	text-align:right;
}
.readingInfo{
	width: 147px;
	height: 117px;
    background-color: #BDB19A;
    margin-top: 5px;
    margin-bottom: 10px;
}