#datepicker>div>div{
   height: 120px;
}
#datepicker>div>div>a{
   padding: 40px 0;
}
#datepicker{
	float : left;
	width: 600px;
}
.time-table{
	display : inline-block;
	margin-left: 30px;
}
#insert-btn{
	display: block;
	margin-top: 200px;
}
#insert-btn>button{
	border : 1px solid #BDB19A; 
	width : 250px;
	height : 50px;
	margin-top : 30px;
	margin-bottom : 10px;
	margin-left: 40%;
}
#insert-btn>button:hover{
	border : 1px solid white;
	background: #BDB19A;	
	
}
.time-table input{
	border: none;
	border-bottom: 1px solid #BDB19A ;
	width: 130px;
	outline: none;
}
#time-table tr{
	margin-bottom: 30px;
}
.select-btn>button{
	width : 80px;
	border : 1px solid #BDB19A; 
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.select-btn>button:hover{
	border : 1px solid white;
	background: #BDB19A;	
}
.time-table{
	margin-top : 100px;
	border:  1px solid #BDB19A;
	box-shadow: 3px 3px 5px gray;
}
.checkBtn{
	border : 1px solid #BDB19A;
	background: #ffffff;
	border-radius: 10px;	
}
.checkBtn:active{
	border : 1px solid #fffff;
	background: #BDB19A;
	border-radius: 10px;	
}