.space-img>h1{
	text-align: center;
}
.space-img>p{
	margin : 10px;
	text-align: center;
}
.space-img img{
	display : block;
	margin : auto;
	width: 80%;
	
	}
.s-title{
	border-bottom: 1px solid #563D39;
}
.rental-sequence>img{
	display : block;
	margin : auto;
	width: 80%;
}
#rentalBtn{
	width : 200px;
	height : 50px;
	display: block;
	margin: auto;
}
#s-table {
	margin: 10px;
}
#s-table tr td img{
	width: 300px;
	height: 200px;
}
#s-table tr td:first-child{
	width: 10%;
	text-align: center;
	border-right: 1px solid #BDB19A ;
	vertical-align: middle;
}
#s-table tr td:last-child{
	width: 50%;
	text-align: center;
	vertical-align: middle;
}
#s-table tr td{
	border-bottom: 1px solid #BDB19A;
}
.info-img{
	width: 300px;
}
.spaceRes{
	float: right;
}
.spaceRes>a{
	color: #563D39;
}
.spaceRes>a:hover{
	font-weight : bold;
	color: #563D39;
}
#rentalBtn{
	border : 1px solid #BDB19A; 
	width : 250px;
	height : 50px;
	margin-bottom : 10px;
	margin-left: 40%;
}
#rentalBtn:hover{
	border : 1px solid white;
	background: #BDB19A;	
	
}

