.space-list{
	margin-top : 20px;
	width: 50%;
	float: left;
}
.space-list p{
	margin : 10px;
	border-bottom: 1px solid #BDB19A;
}
.space-list img{
	padding : 10px;
	width: 100%;
	height: 400px;
	margin: 0 auto;
}
