.table-box table tr th{
	text-align: center;
	background-color: #BDB19A;
	color: #ffffff;
}
.table-box table tr td{
	text-align: center;
}
[name=srContent]{
	width: 300px;
	height: 100px;
	margin: 10px;
}