.container{
	padding-left: 500px;
}
.table-box{
	text-align : center;
	margin-top : 50px;
	margin-left : 70px;
	width: 1000px;
	height: 700px;
}
.table a{
	text-decoration: none;
	color: black;
}
.table a:hover{
	color: black;
}

.page-box{
	text-align: center;
}
.table-box table tr th{
	text-align : center;
	border-bottom: double #BDB19A;
	border-top: double #BDB19A;
	height: 40px;
	font-size: 17px;
}
.table {
  border-collapse: collapse;
  text-align: center;
  line-height: 1.5;

}
.table th {
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 3px solid #BDB19A;
}
.table th {
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 1px solid #BDB19A;
  background: #BDB19A;
}
.table td {
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #BDB19A;
}
.writeBtn{
	width : 80px;
	height : 40px;
	float : right;
	border: none;
	border : 2px solid #BDB19A;
	border-radius : 10px;
	font-size: 16px;
	background-color: white;
	color: #563D39;
}
.writeBtn:hover{
	border: none;
	background-color: #BDB19A;
	color: white;
}