.info-img{
	width: 200px;
	height: 150px;
}
.table-box table tr th{
	text-align: center;
	background-color: #BDB19A;
	color: #ffffff;
}
.table-box table tr td{
	text-align: center;
}
.mBtn{
	border : 1px solid #BDB19A;
	margin-top: 100px; 
	background-color: #ffffff;
	color : #BDB19A;
	border-radius: 10px;
}
.mBtn:hover{
	background-color: #BDB19A;
	color: #ffffff;
}
