
    .topSide{
        margin-bottom: 50px;
    }
    
    .rightSide{
        width: 850px;

    }
    .exhibitionPhoto{
        width: 400px;
        height :300px;
        display: inline-block;
        margin: 0 auto;
    }
    .photo{
        width :300px;
        height : 200px;
        margin-left: 50px;
        margin-top: 40px;
    }
    .exhibitionSummary{
        width: 380px;
        height : 300px;
        float: right;
        
        display: inline-block;
    }
    .bottomSide{
        margin-top: 100px;
        width: 850px;
    }
    .nav nav-tabs>li{
        width: 70px;
    }
    .exhibitionSummary>table tr td:first-child{
        width: 120px;
    }
    .exhibitionSummary>table tr td{
        height: 50px;
    }
    .exhibitionSummary>table{
        width: 360px;
        height: 250px;
        margin: left 50px;
        margin-top: 25px;
        
    }
    .table-condensed{
        border:none;
    }
    .fixed{
    	position: fixed;
    	margin-top: -600px;
    	margin-left: 880px;
    }
    .amount{
	 width: 35px;
    display: inline-block;
    text-align: center;
}
.count_btn1{
	width: 35px;
    align-self: center;
    border: 1px solid #eee;
}
.inputReviewBox>form{
	display: flex;
}
.selectStar{
	width: 90px;
}
.selectStar>*{
	margin: 0;
	width: 90%;
}
.reviewList{
	margin: 15px 0;
}
.reviews{
	list-style: none;
	border-radius: 10px;
	padding-left: 0;
	display: flex;
	flex-direction: row;
	overflow: hidden;
	border: 2px solid #BDB19A;
}
.reviews>li{
	padding-top: 10px;
}
.reviews>li:first-child {
	width: 20%;
	padding-bottom: 10px;
}
.reviews>li:first-child>p:first-child{
	margin-bottom: 3px;
}
.reviews>li:last-child {
	width: 80%;
}
.reviews>li>p{
	margin: 0;
	padding-left: 10px;
}
.reviewsBtn{
	text-align: right;
	padding-right: 20px;
}