.container>h1{
    text-align: center;
    margin-bottom: 30px;
}
.showList{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.showInfo{
    width: calc(80%/4);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    margin: 25px 20px;
    padding: 20px 0;
    border: 2px solid #A79078;
}
.poster{
	width: 200px;
    height: 280px;
    border-radius: 10px;
}
.showInfo>div>h2{
    color: #000000;
    text-align: center;
    font-size: 22px;
}
.showInfo>div>h4,p{
    text-align: left;
    padding-left: 17px;
}
.showInfo>div>p{
	margin: 0;
    color: #A79078;
}
.showInfo:hover{
	text-decoration: none;
}
.showInfo>div>h4{
	color: #000;
	font-size: 16px;
}
.showSearchBox{
	margin-top:50px;
}